html, body {
  background-color: #ffffff;
  margin: 0.5em;
}

img {
  display: none;
}

a {
  text-decoration: underline;
  color: #0080ff;
}

h1 a,
dd em a {
  color: #0080ff;
}

h2 {
  color: #777777;
}
